body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;


}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;

}
h3{
    color:#11999E;
}
p{
    line-height: 2;

} 
a{
    color:#11999E;   
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none;
    width: 4%;
    margin:100px auto;
}
.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;
    padding-bottom: 20px;


}
.top-cloud{
    position: absolute;
    top:40px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 250px;
}
.middle-container{
margin: 100px auto;
}
.profile-pic{
    height: 250px;
    width: 200px; 
    border-radius: 50%; 
}
.my-description{
    width: 30%;
    margin: 0 auto;
}
.computer-image{
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    
}
.skill-row{
    width:50%;
    margin: 100px auto;
    text-align: left;
}

.food{
    width: 25%;
    border-radius: 20%;
    float: right;
    margin-left: 30px;
}
/* .skill-one-description{
    clear: left;
}
.skill-two-description{
    clear: right;
} */
.contact-me{
    width: 50%;
    margin: 0 auto;
    line-height: 2;

}
.contact-message{
    width: 80%;
    margin: 40px auto;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    border: none;
    /* font-family: Arial; */
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 25px;
    
  }
  .btn a{
      color:white;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;

  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container{
    font-family: 'Merriweather', serif;
    padding: 50px 0 20px;
    background-color: #66BFBF;
}
.bottom-container a{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
    font-weight: 400;
margin: 10px 20px;
}
.bottom-container a:hover{
    color:#EAF6F6;
}
.copyright{
    font-size: 0.75rem;
    color: #EAF6F6;
    padding: 20px 0px;
}
